.InverseForm {
    color: rgb(245, 245, 220);
}

.Space {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Inverse {
    color: rgb(6, 109, 139);
    font-weight: 500
}

.Inverse h5 {
    font-weight: 700;
    font-size: 2em
}

.fit {
    width: 650%;
}

.caja {
    border: 1px;
    border-style: dotted;
    border-color: dodgerblue;
    padding: 5px;
    margin: 5px;
}

input {
    color: black
}