.InverseForm {
    color: rgb(245, 245, 220);
}

.Space {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Inverse {
    color: rgb(6, 109, 139);
    font-weight: 500
}

.Inverse h5 {
    font-weight: 700;
    font-size: 2em
}

.fit {
    width: 650%;
}

.caja {
    border: 1px;
    border-style: dotted;
    border-color: dodgerblue;
    padding: 5px;
    margin: 5px;
}

input {
    color: black
}

.spamEvent {
    width: 80px;
}

.spamEventB {
    width: 100px;
}

.nom {
    background-color: #066d8b;
}

.h1grande {
    font-size: 3.5em;
}

.deco {
    background-color: darkcyan;
    margin: 5px;
    border-radius: 5px;
}

.Inverse a:hover {
    color: rgb(0, 0, 0);
}

.Inverse a {
    color: rgb(245, 245, 220);
}

.fitImage {
  width: 100%;
  height: 220px;
}
.loading{
  position:fixed;
    width:  100px;
    height: 100px;
    left: 50%;
    top:  50%;
    margin-left: -50px;
    margin-top:  -50px;
}
