<div ng-init="loadT()" ng-show="$state.current.name === 'Resultados'">
    <br>
    <div class="container">
        <div class="page-header">
            <h1>Resultados</h1>
            <a ui-sref=".Add" class="btn btn-primary" role="button">Agregar Nuevo Resultado</a>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Torneo</label>
                    <select id="idTorneos" name="TorneosSelect" ng-model="TorneosSelect" class="form-control" ng-change="getEdiciones()">
                        <option value="">Todos</option>
                        <option ng-repeat="torneo in torneos" value="{{torneo._id}}">{{torneo.Nombre}}</option>
                    </select>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Edición</label>
                    <select id="idEdiciones" name="EdicionesSelect" ng-model="EdicionesSelect" class="form-control">
                        <option value="">Todos</option>
                        <option ng-repeat="edicion in ediciones" value="{{edicion._id}}">
                            {{edicion.Nombre}}, Fecha: {{edicion.fecha|date:"mediumDate"}}</option>
                    </select>


                </div>
                <!-- /input-group -->
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Atleta</label>
                    <select id="idAtleta" name="EdicionesSelect" ng-model="AtletasSelect" class="form-control">
                        <option value="">Todos</option>
                        <option ng-repeat="atleta in atletas|orderBy:'Nombre.Apellido1'" value="{{atleta._id}}">
                            {{atleta.Nombre.Nombre+' ' +atleta.Nombre.Apellido1+' '+atleta.Nombre.Apellido2}}</option>
                    </select>

                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->

            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div ng-repeat="torneo in torneos|filter: TorneosSelect|filter:AtletasSelect" ng-model="torneos">
                        <h2>{{torneo.Nombre}}</h2>
                        <div ng-repeat="edicion in torneo.ediciones|filter:EdicionesSelect|filter:AtletasSelect">
                            <h3>{{edicion.Nombre}} Fecha {{edicion.fecha|date:"mediumDate"}} </h3>
                            <!--
                            <div class="panel panel-default" ng-repeat="atleta in edicion.atletas">
                                <div class="panel-body">
                                    {{atleta.Atleta.Nombre.Nombre+" "+atleta.Atleta.Nombre.Apellido1+ " " +atleta.Atleta.Nombre.Apellido2}}
                                    <button class="btn btn-danger " type="button " ng-click="deleteR(atleta._id, atleta._etag) ">Eliminar</button>
                                    <button class="btn btn-warning " type="button " ng-click="patchTime(atleta._id, atleta._etag) ">Cambiar</button>
                                </div>
                            </div>
-->


                            <div class="panel panel-default Normal" ng-repeat="prueba in edicion.eventos|filter:AtletasSelect|orderBy:['Tipo.Nombre','_created','Genero']" ng-show="(prueba.atletas.length!==0)">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{prueba.Tipo.Nombre}} {{prueba.Nombre}} Género {{prueba.Genero}} </h3>
                                </div>

                                <!--
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre del Atleta</th>
                                            <th>Tiempo</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="atleta in prueba.atletas ">
                                            <td>{{atleta.Atleta.Nombre.Nombre+" "+atleta.Atleta.Nombre.Apellido1+ " " +atleta.Atleta.Nombre.Apellido2}}</td>
                                            <td>
                                                <input type="text " class="form-control" ng-model="atleta.TiempoRealizado " readonly>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger " type="button " ng-click="deleteR(atleta._id, atleta._etag) ">Eliminar</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-default " type="button " ng-click="patchTime(atleta._id, atleta._etag) ">Cambiar</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>


-->

                                <div ng-repeat="atleta in prueba.atletas|filter: AtletasSelect|orderBy:'TiempoRealizado'">
                                    <br>
                                    <div class="input-group ">
                                        <span class="input-group-addon spamEvent">Nombre</span>
                                        <input type="text" class="form-control" value='{{atleta.Atleta.Nombre.Nombre+" "+atleta.Atleta.Nombre.Apellido1+ " " +atleta.Atleta.Nombre.Apellido2}}' readonly/>
                                        <span class="input-group-btn ">
        <button class="btn btn-danger spamEventB" type="button " ng-click="deleteR(atleta._id, atleta._etag,atleta) ">Eliminar</button>
      </span>
                                    </div>

                                    <div class="input-group ">
                                        <span class="input-group-addon spamEvent">Tiempo</span>
                                        <input type="text " class="form-control " ng-model="atleta.TiempoRealizado" readonly>
                                        <span class="input-group-btn ">
        <button class="btn btn-warning spamEventB" type="button " ng-click="patchTime(atleta._id, atleta._etag,atleta.TiempoRealizado) ">Cambiar</button>
      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view></div>
