<div ng-init="getallnombre()" ng-show="$state.current.name === 'AtletasView'">
  <div class="loading" ng-show="loading">
    <div class="sprite-spinner">
      <img src="https://i.imgur.com/sJfQZdC.png?1" alt="" />
    </div>
  </div>
  <!---->
  <br>
  <div class="container">
    <div class="page-header">
      <h1>Atletas</h1>
    </div>
    <nav class="navbar navbar-default navbar-static-top">
      <form class="navbar-form navbar-left" role="buscar">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar" ng-model="searchBar">
        </div>
        <a ui-sref=".Add" class="btn btn-primary" role="button">Agregar Nuevo</a>
      </form>
    </nav>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div ng-repeat="atleta in atletas|filter:searchBar|orderBy:'Nombre.Apellido1'">
        <div ng-class="{row:($index % 6 == 5)}">
            <div class="col-md-2 col-sm-6 text-center" style="height:400px;">
              <img class="img-rounded fitImage center-block" check-image ng-src="{{atleta.Imagen}}">
              <h5>{{atleta.Nombre.Nombre+ " "+atleta.Nombre.Apellido1+ " "+atleta.Nombre.Apellido2}}</h5>
              <p>{{atleta.Carrera.Nombre}}</p>
              <div class="buttomCol">
                <p><a ui-sref=".One({idAtleta:atleta._id})" class="btn btn-default" role="button">Ver mas..</a>
              </div>

              </p>
            </div>

        </div>

        <!-- /.row -->
      </div>
    </div>
  </div>
</div>

<div ui-view></div>
